/* || RESET */
*,
::before,
::after {
    /* outline: 1px solid salmon; */
    box-sizing: border-box;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
}

/* || GENERAL */
html {    
    color: #3B3A3A;
    font-family: 'Nunito', Noto -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 3rem;
    font-weight: 600;
}

h2 {
    font-size: 2rem;
    font-weight: 700;
}

h3 {
    font-size: 1.5rem;
    font-weight: 300;
}

h6 {
    font-size: 1.25rem;
    font-weight: 700; 
}

p {
    font-size: 1.25rem;
    font-weight: 300;
}

.subheading {
    color: #3B3A3A;
    font-family: 'Nunito';
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.05rem;
}

/* || PHONE MOCKUP */
.mock-up-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    pointer-events: none;
}

/* || PHONE CONTENT */
.content-outer {
    width: 355px;
    height: 774px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 0;
}

.content-outer::-webkit-scrollbar {
    width: 0 !important
}

/* || INNER CONTENT */
.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr auto 1fr;
    grid-template-areas: 
    "header"
    "main"
    "footer";

    width: 100%;
    height: 100%;
}

/* || NAVIGATION */
.header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 3;
    grid-area: header;
}

.nav {
    /* display */
    padding: 1.5rem;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    background: linear-gradient(0deg, #0000000a 0%, #0000000a 100%), #ffffff40;
    box-shadow: 0px 2px 12px 0px #00000026;
    backdrop-filter: blur(7.5px);

    /* content */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav > * {
    max-height: 1.5rem;
}

/* || MAIN */
.main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 700px 200px 1200px;
    grid-template-areas: 
    "hero"
    "location"
    "week";
    margin-bottom: 4rem;
}

/* || CAROUSEL */
.hero {
    grid-area: hero;
}

.items {
    height: 700px;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    transition: all 0.2s;
    will-change: transform;
    user-select: none;
}

.items * {
    user-select: none;
}

.item {
    display: inline-block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all .7s ease-in-out;
}

.item .info {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 
    "."
    "temp"
    "."
    "humid"
    "geo";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.item .temp {
    grid-area: temp;
    margin-left: 2rem;
    margin-right: 2rem;
}

.item sub {
    font-size: 0.35em;
}

.item .humidity {
    grid-area: humid;
    display: grid;
    grid-template: 1fr / 2fr;
    grid-template-areas: "h1 h2";

    text-align: center;
}

.item .humidity div:first-child {
    grid-area: h1;
    margin: 1rem 2rem;
}

.item .humidity div:last-child {
    grid-area: h2;
    margin: 1rem 2rem;
}

.item .geographic {
    grid-area: geo;
    display: grid;
    grid-template: 2fr / 1fr;
    grid-template-areas: "h1 h2";
}

.item .geographic div:first-child {
    margin: 1rem 1.5rem;
    grid-area: h1;
}

.item .geographic div:last-child {
    margin: 1rem 1.5rem;
    grid-area: h2;
}

.items input {
    display: none;
}

.carousel-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    z-index: 999;
    text-align: center;
}

.carousel-dots .dot {
    display: inline-block;
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    background-color: rgb(240, 161, 72);
    opacity: 0.25;
    margin: 10px;
}

input:checked + .item {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
}

#slide-1:checked ~ .carousel-dots #dot-1,
#slide-2:checked ~ .carousel-dots #dot-2,
#slide-3:checked ~ .carousel-dots #dot-3 {
	opacity: 1;
}

/* || LOCATION */
.change-location {
    grid-area: location;
    
    display: inline-flex;
    padding: 2rem;
    margin: auto 1rem;
    height: 50%;
    width: 90%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    flex-shrink: 0;

    border-radius: 0.625rem;
    background: #F9F9F9;
}

/* || WEEK */
.week {
    grid-area: week;
    position: relative;
    width: 100%;
    height: 100%;
}

.week .bg-img,
.week .bg-img img {
    height: 100%;
    object-fit: cover;
}

.week .info {
    position: absolute;
    top: 8%;
    width: 100%;
    height: 100%;

    display: grid;
    grid-template: repeat(10, 1fr) / 1fr;
    grid-template-areas:
    "."
    "."
    "heading"
    ".";
    gap: 1rem;
}

.week .card {
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
    padding: 1rem;
    margin: 0 auto;

    border-radius: 1.5rem;
    background: #FAFAFA;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.15);

    width: 90%;
    text-align: center;
}

.week .card > div {
    padding: 0.25rem 0.5rem;
    display: grid;
    grid-template: 1fr 1fr / 1fr;
    justify-items: center;
    align-items: center;
}

.week .card p {
    font-size: 1.1rem;
    letter-spacing: 0.01rem;
}

/* || FOOTER */
.footer {
    padding: 2rem 1rem;
    background: linear-gradient(0deg, #0000000a 0%, #0000000a 100%), #ffffff40;
    box-shadow: 0px 2px 12px 0px #00000026;
    backdrop-filter: blur(7.5px);

    display: grid;
    grid-template: repeat(3, auto) / auto 4rem;
    grid-template-areas: 
    "logo logo"
    "email email"
    "contact top";
    row-gap: 2rem;
}

.logo {
    grid-area: logo;
    display: grid;
    grid-template: 1fr / 3rem 1fr;
    justify-items: baseline;
    column-gap: 1rem;
}

.email {
    grid-area: email;
}

.email form {
    display: grid;
    grid-template: 1fr 1fr / auto 5.5rem;
    grid-template-areas:
    "label label"
    "input button";
}

.email label {
    grid-area: label;
}

.email input {
    grid-area: input;
    padding: 0.375rem 1rem;

    border: 1px solid transparent;
    border-top-left-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
    background: #ffffffbf;
}

.email input:s {
    border: 1px solid #f0a148;
}

.email button {
    grid-area: button; 
    border: 1px solid transparent;
    border-top-right-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
    background: #ffffffbf;

    color:#f0a148;
}

.email button:hover,
.email button:focus {
    background: #f1f1f1c5;
}

.contact {
    grid-area: contact;

    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr;    
    grid-template-areas: 
    "contactUs"
    "emailAddress"
    "phone";
    row-gap: 0.25rem;
}

.contact p:first-child {
    grid-area: contactUs;
}

.contact p:nth-child(2) {
    grid-area: emailAddress;
}

.contact p:last-child {
    grid-area: phone;
}

.to-top {
    grid-area: top;
    align-self: last baseline;
    justify-self: center;

    display: grid;
    grid-template: 1fr 1fr / 1fr;
    grid-template-areas: 
    "arrow"
    "text";
    row-gap: 0.75rem;
}

.to-top img {
    grid-area: arrow;
    justify-self: center;
}

.to-top p {
    grid-area: text;
}